body {
    background-color: #ffffff;
    margin: 0%;
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2%;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    text-align: justify;
    color: #000000;
    margin-right: 30px;
    margin-left: 30px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #1A1A1A;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}

.img-perfil {
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.t1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    box-shadow: inset 0 0 0 0 #000000;
    color: #000000;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

a:hover {
    color: #ff9015;
}

a {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.img2 {
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
}

.cont-2 {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.img3 {
    display: flex;
    justify-content: center;
    background-color: #1A1A1A;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.lista {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    text-align: justify;
    color: #000000;
    margin-right: 30px;
    margin-left: 30px;
}

/*primeira vez usando o responsivo =)*/
@media screen and (max-width: 768px) {

    .container,
    menu,
    .cont-2 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


}